<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="./js/bootstrap.min.js"></script>、
    <style>
        /* body {
            background-color: slategray;
        } */
        .title{
            height: 25px;
            background-color: #00a0e9;
        }
    </style>
</head>

<body>
    {% for i in obj %}
        <div class="container table table-striped">
            <div>
                <h3 class="title">{{ i.title }}</h3>
                <ol>
                    <li>{% autoescape off %}{{ i.body }}{% endautoescape %}</li>
                </ol>
            </div>
        </div>
    {% endfor %}
    <script src="//cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>
</body>
</body>

</html>